<project name="weblogic.properties">
    <taskdef name="wldeploy" classname="weblogic.ant.taskdefs.management.WLDeploy">
        <classpath>
                <pathelement path="\${env.MW_HOME}/wlserver_10.3/server/lib/weblogic.jar"/>
                <pathelement path="\${env.MW_HOME}/wlserver_10.3/server/lib/webservices.jar"/>
                <pathelement path="\${env.MW_HOME}/modules/features/weblogic.server.modules_10.3.3.0.jar"/>
        </classpath>
    </taskdef>

    <!-- Configure properties to access the Manager application -->
    <property name="admin.url"      value="t3://localhost:7001"/>
    <property name="admin.username" value="username"/>
    <property name="admin.password" value="password"/>
    <property name="admin.remote" value="true"/>
    <property name="domain.targets" value="AdminServer"/>

</project